.popup__button_disabled {
	color: #000000;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 2px;
	opacity: 0.2;

}

.popup__button_disabled:hover {
	background: transparent;
	cursor: default;
}