.popup__input_type_error {
	border-bottom: 1px solid red;
}

.name-input-error {
  color: red;
	font-size: 12px;
	line-height: 14.52px;
}

.description-input-error {
  color: red;
	font-size: 12px;
	line-height: 14.52px;
}

.avatar-input-error {
	color: red;
	font-size: 12px;
	line-height: 14.52px;
}